.header {
    display: flex;
    align-items: center;

    height: 123px;
    background-color: #FFF;
}

.header__wrap {
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 1400px;
}

.header__search {
    width: 49px;
    height: 49px;
    cursor: pointer;
    background: url('/icons/search.svg') center / 20px no-repeat;
}


.header__menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}


.header__menu .menu-button {
    margin-right: 30px;
}


.header .menu-button__toggle {
    margin-right: 0;
    display: none;
}

.header__menu .menu-button__bag {
    margin-right: 0;
}


.header__logo {
    width: 70px;
    height: 70px;
    margin-right: 60px;
}

.header__logo img {
    display: block;
    width: 100%;
}



.header__nav {
    margin-right: 50px;
}

.header__nav a {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;

    color: #292D32;
    text-decoration: none;
    text-transform: uppercase;

    margin-right: 45px;
}

.header__nav a:hover {
    text-decoration: underline;
}

.header__nav a:last-child {
    margin-right: 0;
}






@media (max-width: 1450px) {
    .header__wrap {
        padding: 0 15px;
    }

    .header__logo {
        margin-right: 30px;
    }
}


@media (max-width: 1200px) {
    .header__nav {
        margin-right: 30px;
    }

    .header__nav a {
        margin-right: 20px;
    }
}


@media (max-width: 1000px) {
    .header {
        height: 90px;
    }

    .header__menu {
        margin-left: 0;
    }

    .header__search {
        margin-left: auto;
        margin-right: 15px;
        width: 46px;
        height: 46px;
    }

    .header__nav {
        display: none;
    }

    .header__logo {
        width: 60px;
        height: 60px;
    }

    .header__menu .menu-button {
        width: 46px;
        height: 46px;
        margin-right: 15px;
    }

    

    .header__menu .menu-button__bag {
        margin-right: 15px;
    }

    .header .menu-button__toggle {
        display: block;
    }
}


@media (max-width: 650px) {
    .header .menu-button__liked,
    .header .menu-button__signal {
        display: none;
    }
}