@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
@import url('./header.css');
@import url('./footer.css');
@import url('./contacts.css');
@import url('./info-card.css');
@import url('./news-card.css');
@import url('./pre-footer.css');
@import url('./advantages.css');
@import url('./application.css');
@import url('./menu-button.css');
@import url('./latest-news.css');
@import url('./round-button.css');
@import url('./search-panel.css');
@import url('./brief-catalog.css');
@import url('./main-carousel.css');
@import url('./category-card.css');
@import url('./best-products.css');
@import url('./catalog-scroll.css');



@font-face {
  font-family: 'Euclid Circular A';
  src: url('/fonts/Euclid\ Circular\ A\ Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('/fonts/Euclid\ Circular\ A\ Light.ttf');
  font-weight: 300;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}