.menu-button {
    width: 49px;
    height: 49px;

    background-color: #F9F9F9;
    border-radius: 100%;
    cursor: pointer;

    background-repeat: no-repeat;
    background-size: 22px;
    background-position: center;

    position: relative;
}

.menu-button .badge {
    display: none;
    position: absolute;
    top: -2px;
    right: 0px;

    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 2px;
    
    text-align: center;
    line-height: 15px;
    
    font-size: 12px;
    font-family: inherit;
    font-weight: 700;

    color: #FFF;
    background-color: #48A4EB;
    border-radius: 100%;
}


.menu-button .badge-display {
    display: inline;
}


.menu-button__user {
    background-image: url('/icons/user.svg');
}


.menu-button__signal {
    background-image: url('/icons/signal.svg');
}


.menu-button__liked {
    background-image: url('/icons/heart.svg');
}


.menu-button__bag {
    background-image: url('/icons/shopping-bag.svg');
    background-position-y: 11px;
}


.menu-button:hover {
    background-color: #e6e6e6;
}