.round-button-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.round-button-container:active {
    color: #292D32;
}

.round-button-container:hover .round-button-text {
    text-decoration: underline;
}


.round-button {
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: #33A9FF;
}

.round-button::after {
    content: '';
    display: inline-block;
    width: 55px;
    height: 55px;
    background: url('/public/icons/arrow.svg') center no-repeat;
}


.round-button-text {
    margin-left: 12px;
    color: #292D32;
    font-size: 16px;
}

.round-button-text-left {
    margin-left: 0;
    margin-right: 12px;
}




@media (max-width: 1100px) {
    .round-button,
    .round-button::after {
        width: 50px;
        height: 50px;
    }

    .round-button-text {
        margin-left: 10px;
    }

    .round-button-text-left {
        margin-right: 10px;
    }
}



@media (max-width: 740px) {
    .round-button,
    .round-button::after {
        width: 45px;
        height: 45px;
    }

    .round-button-text {
        margin-left: 15px;
        font-size: 15px;
    }

    .round-button-text-left {
        margin-right: 15px;
    }
}